amqp==5.3.1
async-timeout==5.0.1
backports.zoneinfo==0.2.1
billiard==4.2.4
blinker==1.8.2
celery==5.5.3
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
flask==2.3.3
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
flask-sqlalchemy==3.1.1
greenlet==3.1.1
importlib-metadata==8.5.0
itsdangerous==2.2.0
jinja2==3.1.6
kombu==5.5.4
MarkupSafe==2.1.5
packaging==26.2
prompt-toolkit==3.0.52
PyJWT==2.9.0
python-dateutil==2.9.0.post0
redis==6.1.1
six==1.17.0
sqlalchemy==2.0.51
typing-extensions==4.13.2
tzdata==2026.3
vine==5.1.0
wcwidth==0.8.2
werkzeug==2.3.7
zipp==3.20.2
